/* About.css */
section {
  max-width: 720px;
  margin: 4rem auto;
  padding: 0 1rem;
  color: var(--color-text);
  line-height: 1.6;
  font-size: 1.125rem;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 2rem;
  color: var(--color-text);
  text-align: center;
}

p {
  margin-bottom: 1.25rem;
}
